---
---

@import "bootstrap/bootstrap.scss";
@import "_base.scss";
@import "_components.scss";


/*jumbotron css*/
.VIT {
  background: rgb(70, 69, 69);
  transition: background .5s ease-out;
}
.RW {
  background: rgb(70, 69, 69);
  transition: background .5s ease-out;
}
.TENDG {
  background: rgb(70, 69, 69);
  transition: background .5s ease-out;
}
.HSGen {
  background: rgb(70, 69, 69);
  transition: background .5s ease-out;
}
.BOTW {
  background: rgb(70, 69, 69);
  transition: background .5s ease-out;
}
.UnivAI {
  background: rgb(70, 69, 69);
  transition: background .5s ease-out;
}
.RIM {
  background: rgb(70, 69, 69);
  transition: background .5s ease-out;
}
.MSC {
  background: rgb(70, 69, 69);
  transition: background .5s ease-out;
}
.MXVR {
  background: rgb(70, 69, 69);
  transition: background .5s ease-out;
}
.NLP {
  background: rgb(70, 69, 69);
  transition: background .5s ease-out;
}

/*project page backgrounds
.vitriolic {
  background: url("../assets/images/vitriolicbackground.png") center no-repeat;
  background-size: cover;
  transition: background .5s ease-in;
}

.rimworld {
  background: url("../assets/images/rimworldbackground.png") center no-repeat fixed;
  background-size: cover;
  transition: background .5s ease-in;
}

.Tensecdung {
  background: url("../assets/images/10secdungbackground.png") center no-repeat;
  background-size: cover;
  transition: background .5s ease-in;
}

.UniAI {
  background: url("../assets/images/uniAIbackground.png") center no-repeat;
  background-size: cover;
  transition: background .5s ease-in;
}

.HSGA {
  background: url("../assets/images/hsgabackground.png") center no-repeat;
  background-size: cover;
  transition: background .5s ease-in;
}

.botwcooking {
  background: url("../assets/images/botwbackground.png") center no-repeat;
  background-size: cover;
  transition: background .5s ease-in;
}
.rimvention {
  background: url("../assets/images/rimworldbackground.png") center no-repeat;
  background-size: cover;
  transition: background .5s ease-in;
}
.mixedreality {
  background: url("../assets/images/mxvrbackground.PNG") center no-repeat;
  background-size: cover;
  transition: background .5s ease-in;
}
.nlp {
  background: url("../assets/images/nlpbackground.PNG") center no-repeat;
  background-size: cover;
  transition: background .5s ease-in;
}
.msc {
  background: url("../assets/images/mscbackground.PNG") center no-repeat;
  background-size: cover;
  transition: background .5s ease-in;
}*/

