---
---

@import 'bootstrap/bootstrap';

/*bootstrap overrides */
.jumbotron{
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    color: black;
}

a.carousel-control-prev {
  background: black;
}

a.carousel-control-next {
  background: black;
}

ol.carousel-indicators li.active {
  background: black;
}


/*buttons*/
.custom_button {
    font-size: 18px;
}
.custom_button:hover{
  background: transparent;
  color:white;
}
.btn_black{
  background: rgba(0,0,0,0.9);
  color:white;
  border:1px solid black;
}
.btn_black:hover {
  color:black;
}

  /*custom classes */
.mobile_fullwidth > img {
    display: none;
}
.mobile_fullwidth > h1 {
    font-size: 30px;
}
.mobile_fullwidth > h5 {
    font-size: 17px;
}

/*hide stuff depending on screen size*/
@media only screen and (max-width: 991px) {
  .desktop_only {
      display: none;
  }
  .mobile_fullwidth {
      flex: 0 0 100%;
      max-width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .mobile_only {
      display: none;
  }
}