---
---

@import 'bootstrap/bootstrap';

body {
  font-family: "Segoe UI", sans-serif;
}

/*bootstrap overrides */
.jumbotron{
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
    /*border-top: 1px dashed white;
    border-bottom: 1px dashed white;*/
    //background: grey;
}

.card {
  box-shadow: 0px 0px 20px rgba(0,0,0,1);
}

/*jumbotron backgrounds*/
.vitriolic {
  background: grey;

}
.vitriolic:focus-within {
  background: url("../assets/images/vitriolicbackground.png") center no-repeat;
  background-size: cover;
}

.botwcooking {
  background: grey;
  transition: background .5s ease-out;
}
.botwcooking:focus-within{
  background: url("../assets/images/vitriolicbackground.png") center no-repeat;
  background-size: cover;

  transition: background .5s ease-in;
}

/*carousels*/
a.carousel-control-prev {
  height: 26%;
  top:33%;
  width:86px;
}

a.carousel-control-next {
  height: 26%;
  top:33%;
  width:86px;
}

ol.carousel-indicators li {
  background: white;
  height:24px;
}

ol.carousel-indicators li.active {
  background: black;
  height:24px;
}

/*project galleries*/
#vitriolicGallery {
  img {
    height: 75vw;
    object-fit: cover;
    @media (min-width: 576px) {
      height: 35vw;
    }
    @media (min-width: 992px) {
      height: 18vw;
    }
  }
}

/*other*/
.section_title {
  margin-top: 50px;
  background: grey;
}

.divider {
  fill: white;
  height: 70px;
  width: 100%;
}
.top_container {
  background-size: cover;
  background: #404040;
}

/*buttons*/
.custom_button {
    font-size: 18px;
}
.custom_button:hover{
  background: transparent;
  color:white;
}
.btn_black{
  background: rgba(0,0,0,0.9);
  color:white;
  border:1px solid black;
}
.btn_black:hover {
  color:black;
}

  /*custom classes */
.mobile_fullwidth > img {
    display: none;
}
.mobile_fullwidth > h1 {
    font-size: 30px;
}
.mobile_fullwidth > h5 {
    font-size: 17px;
}

/*hide stuff depending on screen size*/
@media only screen and (max-width: 991px) {
  .desktop_only {
      display: none;
  }
  .mobile_fullwidth {
      flex: 0 0 100%;
      max-width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .mobile_only {
      display: none;
  }
}