<script src="assets/js/jquery-3.4.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/parallax.min.js"></script>
<script src="assets/js/scrollreveal.min.js"></script>
<script src="assets/js/youtube-optimise.js"></script>

<div class ="container">
    <div class="col-md-12 text-center">
        <br>
        <h3>
            {% for item in site.data.settings.footer %}
            <a href="{{ item.link }}" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
            {% endfor %}
        </h3>
        <br><br<br><br>
    </div>
</div>