<div class="postPreviewSmall">
    <div class="internal container card">
        <div class="row">
            <img src="{{page.frontImg}}" class="img-fluid">
        </div>
        <div class="row-sm p-5">
            <header class="mb-4">
                <h4><a href="{{page.url}}">{{page.title}}</a>
                    <span class="badge badge-info">{{page.type}}</span>
                </h4>
                <h5>
                    {% for tag in page.tags %}
                        <span class="badge badge-dark">{{tag}}</span>
                    {% endfor %}
                </h5>
                <p style="color:white">{{page.preface}}</p>
            </header>
            <a href="{{page.url}}" class="btn btn-lg custom_button btn_black">Read more...</a>
        </div>
    </div>
</div>