<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav class="navbar navbar-expand-lg fixed-bottom navbar-dark bg-dark">
                <a class="navbar-brand top_jump supersmall_hide" href="#">Matt Filer</a>
                <ul class="nav ml-auto">
                    <li class="nav-item">
                        <a href="#games_section" class="nav-link games_jump">Games</a>
                    </li>
                    <li class="nav-item">
                        <a href="#software_section" class="nav-link software_jump">Software</a>
                    </li>
                    <li class="nav-item">
                        <a href="#mods_section" class="nav-link mods_jump">Mods</a>
                    </li>
                    <li class="nav-item">
                        <a href="#websites_section" class="nav-link websites_jump">Web</a>
                    </li>
                    <li class="nav-item">
                        <a href="#videos_section" class="nav-link videos_jump">Videos</a>
                    </li>
                </ul>
            </nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">test</a></li>
				</ul>
			</footer>
		</body>
	</html>