<!DOCTYPE html>
	<html>
        {% include head.html %}
		<body>	
			{% include header.html %}	
			
		<main class="my-4">
			
			
			{% if page.bgImg %}
				<div class="jumbotron"  style="background-image: url('{{page.bgImg}}');">			
					<div class="container">						
						<div class="row">
							<div class="card mb-2 card-sm card-body my-auto" style="background:#404040">
								<h1 class="text-primary" style="text-shadow: 2px 2px black; text-align:center">{{page.title}}</h1>
							</div>
						</div>
					</div>
				</div>		
			{% else %}		
				<div class="jumbotron pageBG">
					<h1 class="text-primary" style="text-shadow: 2px 2px black; text-align:center">{{page.title}}</h1>
				</div>
			{% endif %}
			<br>
			
			<div class="container">
				{% if page.preface %}
					<span style="color:white;">
					{{page.preface}}
					</span>
					<br>
					<br>
				{% endif %}
				
				{% if page.images %}
				<section>
					<div class="swiper images">
						<div class="swiper-wrapper">
							{% for img in page.images %}
								<div class="swiper-slide">
									<img src="{{img}}" class="img-fluid">
								</div>
							{% endfor %}
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</section>
				
				<script>
					var swiper = new Swiper('.images', {
						direction: 'horizontal',
						loop: true,
						slidesPerView: 2,
						spaceBetween: 30,
						autoplay: {
							delay: 10000,
							disableOnInteraction: false,
						},
						pagination: {
							el: '.swiper-pagination',
							clickable: true,
						},
					});
				</script>
				{% endif %}
				<br>				
			</div>

			

			<div class="card mb-2 card-sm card-body pageTextbox">
				<div class="container">
					<span style="color:white">
						{{ content }}
					</span>
				</div>
			</div>
		</main>
            {% include footer.html %}
		</body>
	</html>